faiss-cpu==1.11.0
langchain==0.3.26
langchain-community==0.3.27
transformers==4.53.2
sentence-transformers==5.0.0
pypdf==5.8.0
python-dotenv==1.1.1
langchain-google-genai==2.1.7
langchain-ollama==0.3.4